obj/ControlWork1.csproj.nuget.dgspec.json
obj/ControlWork1.csproj.nuget.g.props
obj/ControlWork1.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/ControlWork1.AssemblyInfo.cs
obj/Debug/net6.0/ControlWork1.AssemblyInfoInputs.cache
obj/Debug/net6.0/ControlWork1.assets.cache
obj/Debug/net6.0/ControlWork1.csproj.AssemblyReference.cache
obj/Debug/net6.0/ControlWork1.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/ControlWork1.GlobalUsings.g.cs
ControlWork1.csproj
bin/Debug/net6.0/ControlWork1.deps.json
bin/Debug/net6.0/ControlWork1.dll
bin/Debug/net6.0/ControlWork1.exe
bin/Debug/net6.0/ControlWork1.pdb
bin/Debug/net6.0/ControlWork1.runtimeconfig.json
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/ControlWork1.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/ControlWork1.csproj.FileListAbsolute.txt
obj/Debug/net6.0/ControlWork1.dll
obj/Debug/net6.0/ControlWork1.genruntimeconfig.cache
obj/Debug/net6.0/ControlWork1.pdb
obj/Debug/net6.0/ref/ControlWork1.dll
obj/Debug/net6.0/refint/ControlWork1.dll
.gitignore
